$color-primary-dark: #303030;
$color-primary: #565656;
$color-primary-light: #7c7c7c;

$color-secondary-dark: #edab22;
$color-secondary: #f3c669;
$color-secondary-light: #f9e1b0;

$color-green-light: #1bae00;
$color-green: #137b00;
$color-green-dark: #0b4800;

$color-pink: #FFA8B5;
$color-pink-light: #FFCCCB;
$color-pink-dark: #FF8BA0;

$color-yellow-1: #f6ff00;
$color-yellow-2: #c5cd00;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-light-5: #ddd;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;